@model GestaoDeClientes.Models.Cliente

@{
    ViewData["Title"] = "ExcluirCliente";
}

<h2>ExcluirCliente</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientePerfil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientePerfil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteNomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteNomeFantasia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteCpfCnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteCpfCnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteTelefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteTelefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteCelular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteCelular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteRua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteRua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteNumero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteNumero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteCep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteCep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteCidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteCidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClienteEndComplem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteEndComplem)
        </dd>
    </dl>
    
    <form asp-action="ExcluirCliente">
        <input type="hidden" asp-for="ClienteId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
