@model GestaoDeClientes.Models.Cliente

@{
    ViewData["Title"] = "Confirma a exclusão do cliente abaixo?";
}

<link href="~/lib/bootstrap/index/bootstrap.min.css" rel="stylesheet"
      type="text/css" id="bootstrap-stylesheet">



<div id="wrapper">

    
    <div class="col">
        <div class="container-fluid">
            <h3>Deseja concluir a exclusão?</h3>
            <!-- Personal-Information -->
            <div class="card card-default card-fill">
                <div class="card-header">
                    <h3 class="card-title badge badge-danger">Excluir Cliente</h3>
                </div>
                <div class="card-body">
                    <div class="about-info-p">
                        <strong>Nome</strong>
                        <br>
                        <p class="text-muted"> @Html.DisplayFor(model => model.ClienteNome)</p>
                    </div>
                    <div class="about-info-p">
                        <strong>CPF/CNPJ</strong>
                        <br>
                        <p class="text-muted"> @Html.DisplayFor(model => model.ClienteCpfCnpj)</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted"> @Html.DisplayFor(model => model.ClienteEmail)</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted"> @Html.DisplayFor(model => model.ClienteEstado)</p>
                    </div>
                    <div class="about-info-p mb-0">
                        <strong>Local</strong>
                        <br>
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.ClienteCidade) / @Html.DisplayFor(model => model.ClienteEstado)</p>
                    </div>
                </div>
            </div>
            <div>
                <a asp-action="Index" class="button">Voltar para a lista</a>
            </div>


        </div>
    </div>
</div>
